.topNavi{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 4vh;
    box-sizing: border-box;
    margin-bottom: 2vh;
}

.back{
    padding-left: 4vw;
    box-sizing: border-box;
}

.naviTitle{
    font-size: larger;
    font-weight: bold;
}