.topNavi{
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 5%;
    padding-top: 2%;
    margin-bottom: 5%;
    position:relative;
    top: 0;
    left: 0;
}

.back{
 position:absolute;
 left: 3%;
}

.naviTitle{
    font-size: larger;
    font-weight: bold;
}