.teacher_section{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    background-color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none;
}
.teacher_section::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
