.section_container{
    width: 100%;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 2vh;
}
.container_innerbox{
    background-color: #FFD83A;
    border-radius: 1rem;
    padding-top: 3%;
}

.section_innerbox{
    width: 100%;
    height: 10vh;
    position: relative;
    background-color: #FFD83A;
    color: black;
    border-radius: 1rem;
    box-sizing: border-box;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    transition: border-radius 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_img{
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 1rem;
    overflow: hidden;
}

.item_img img{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit:cover
}
.item_info_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.item_title{
    font-size: 1.5rem;
    font-weight:900;
}

.item_summary{
    margin-top: 5%;
    font-size: 1.3rem;
    font-weight:900;

}

.item_imgbox{
    width: 1rem;
    height: 1rem;
    margin-right: 5%;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.toggle_img{
    width: 100%;
    height: 100%;
}   
.toggle{
    width: 100%;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    background-color: #FFD83A;
    border-radius: 0 0 1rem 1rem;
    padding-top:5px;
    /* display: none; */
    padding-bottom:3%;
    margin-bottom: 5px;
    pointer-events: none;
}

/* transition: property duration function delay
       기본값      all      0        ease     0 */