#home_section{
height: 100%;
width: 100%;
padding: 0 5% 0 5%;
box-sizing: border-box;
position: relative;
overflow-x:hidden;
}

/* 버튼 css */
.home_header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_article{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.curriculum_btn{
    width: 100%;
    height: 13rem;
    background-color: #F8FBFC;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.10);  
}

.curriculum_request_btn{
    width: 100%;
    height: 5rem;
    margin-top: 5%;
    background-color: #F8FBFC;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.10);  
}
.etc_box{
    width: 100%;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.community_btn{
    width: 47.5%;
    height: 9rem;
    background-color: #F8FBFC;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.10);  
}
.event_btn{
    width: 47.5%;
    height: 9rem;
    background-color: #F8FBFC;
    border-radius: 0.4375rem;
    border: 1px solid rgba(0, 0, 0, 0.10);  
}

