.section_explain{
width: 100%;
height: 35%;
border-bottom: 1px;
border-color: rgba(0, 0, 0, 0.5);
border-style: solid;
}

.section_card_container{
width:100%;
height: 65%;
border-top: 1px;
display: flex;
align-items: center;
justify-content: center;
}

.section_card_innerbox{
    width:66%;
    height:70%;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    background-color: antiquewhite;
}

.section_card_item{
    display: block;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    font-size: large;
}