.content_inner_box{
    height: 40vh;
    width : 70vw;
    margin: auto;
    background-color: dodgerblue;
    border-radius:1rem;
    overflow: hidden;
}

.img_content{
   width:100%;
   height: 80%;
}

.content_description{

}