.nav{
    position: static;
    bottom: 0;
    height: 10%;
    min-height: 70px;
    box-sizing: border-box;
    border: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    border: 2px;
    border-style: solid;
}
