.section_list_container{
    width: 100%;
    height: 100%;
    padding-top: 2vh;
}

.topNavi{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 4vh;
}

.naviTitle{
    font-size: larger;
    font-weight: bold;
}

.section_list_innerbox{
    width: 100%;
    margin-top: 2vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}

.section_list_item{
    box-sizing: border-box;
    width: 90%;
    height: 7.5vh;
    border-radius: 10px;
    background-color: dodgerblue;
    margin-bottom: 5px;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}