.detail_section{
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    overflow: hidden;
}

.content_container{
    box-sizing: border-box;
    width: 100%;
    padding-left:5vw;
    padding-right:5vw;
    position: relative;
    top:10vh
}

.next_btn{
    width:8%;
    height: 8%;
    position:absolute;
    right:3%;
    bottom: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prev_btn{
    transform: rotate(180deg);
    width:8%;
    height:8%;
    position:absolute;
    left: 3%;
    bottom: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_text{
    margin: 0;
    width: 100%;
    height: 100%;
}