.common_list_container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
}

/* .common_list_innerbox{
    width: 100%;
    height: 95%;
    box-sizing: border-box;
    padding: 0 2% 0 2%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; 인터넷 익스플로러 
    scrollbar-width: none;
} */

/* .common_list_innerbox::-webkit-scrollbar {
    display: none;  크롬, 사파리, 오페라, 엣지 
} */