.error_box{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_box > h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10%;
}

.error_box > p {
    font-size: 1.2rem;
    display: block;
}

.error_box p:nth-child(2){
    margin-bottom: 10%;
}

.error_box p:nth-child(3){
    color: rgba(0, 0, 0, 0.4);
}